<html m_init="2233643202311171224"><head>
 <title>Вернуть Павербанк</title>
 <meta charset="utf-8">
 <link rel = "stylesheet" href="{{url_for('static',filename='return_page.css')}}">
<style type="text/css" id="operaUserStyle"></style></head>

<body>

<div class="wrapper">

 <div class="content">

     <div>
      <h3 class="class"> <font style="color: #cc66cc">U</font>
        .Charge
        <div>x</div>
        <div>Ростелеком</div>
        </h3>
    </div>

    <input class="line" type="text" id="pb_id_input" placeholder="Айди павербанка">
    <button class="btn" onclick="saveToServer3('return')" id="submit_button" >Проверить возврат</button><br>
        <div class="instruct">{{change}}</div>






 </div>

 <div class="footer">&copy;<span> </span><span> Route LLC</span></div>

</div><!-- .wrapper -->

</body>
<script src="{{url_for('static',filename='index.js')}}"></script>
</html>